* {
    box-sizing: border-box;
    font-family: "Axiforma";
}

body {
    /* padding: 20px 3rem; */
    font-family: "Axiforma";
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #000;
}

button { 
    font-family: "Axiforma";
}