@font-face {
  font-family: "Axiforma";
  src: local("Axiforma"), url(./assets/fonts/Axiforma-Regular.ttf) format("truetype");
}



body {
  margin: 0;
  font-family: "Axiforma";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}